<?xml version="1.0" encoding="utf-8" ?>
<config>
    <modules>
        <Top_NewsRevenge>
            <version>0.1.0</version>
        </Top_NewsRevenge>
    </modules>

    <global>
        <blocks>
            <top_newsrevenge>
                <class>Top_NewsRevenge_Block</class>
            </top_newsrevenge>
        </blocks>
        <helpers>
            <top_newsrevenge>
                <class>Top_NewsRevenge_Helper</class>
            </top_newsrevenge>
        </helpers>
        <models>
            <top_newsrevenge>
                <class>Top_NewsRevenge_Model</class>
                <resourceModel>top_newsrevenge_resource</resourceModel>
            </top_newsrevenge>
            <top_newsrevenge_resource>
                <class>Top_NewsRevenge_Model_Resource</class>
                <entities>
                    <category>
                        <table>top_newsrevenge_category</table>
                    </category>
                    <story>
                        <table>top_newsrevenge_story</table>
                    </story>
                </entities>
            </top_newsrevenge_resource>
        </models>
        <resources>
            <top_newsrevenge_setup>
                <setup>
                    <module>Top_NewsRevenge</module>
                </setup>
            </top_newsrevenge_setup>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <top_newsrevenge>
                        <class>top_newsrevenge/observers_mastTest</class>
                        <method>test</method>
                    </top_newsrevenge>
                </observers>
            </sales_order_place_after>

            <admin_session_user_login_success>
                <observers>
                    <top_newsrevenge>
                        <class>top_newsrevenge/observers_adminLog</class>
                        <method>adminLogged</method>
                    </top_newsrevenge>
                </observers>
            </admin_session_user_login_success>

            <customer_register_success>
                <observers>
                    <top_newsrevenge>
                        <class>top_newsrevenge/observers_customerRegSuc</class>
                        <method>grabData</method>
                    </top_newsrevenge>
                </observers>
            </customer_register_success>
        </events>
    </global>

    <admin>
        <routers>
            <top_newsrevenge>
                <use>admin</use>
                <args>
                    <module>Top_NewsRevenge</module>
                    <frontName>top_newsrevenge</frontName>
                </args>
            </top_newsrevenge>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <top_newsrevenge>
                    <file>top_newsrevenge.xml</file>
                </top_newsrevenge>
            </updates>
        </layout>
    </adminhtml>

    <frontend>
        <routers>
            <top_newsrevenge>
                <use>standard</use>
                <args>
                    <module>Top_NewsRevenge</module>
                    <frontName>storiesrevenge</frontName>
                </args>
            </top_newsrevenge>
        </routers>
        <layout>
            <updates>
                <top_newsrevenge>
                    <file>top_newsrevenge.xml</file>
                </top_newsrevenge>
            </updates>
        </layout>
    </frontend>
</config>